apiVersion: v1
kind: Service
metadata:
  name: {{ include "ChartTest1.fullname" . }}
  labels:
    {{- include "ChartTest1.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 5678
      protocol: TCP
      name: http
  selector:
    {{- include "ChartTest1.selectorLabels" . | nindent 4 }}
